<!DOCTYPE html>
<html ng-app="lista">
<head>
	<meta charset="utf-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script type="text/javascript" src="js/config/angular.min.js"></script>
	<script type="text/javascript" src="js/config/angular-messages.min.js"></script>
	<script type="text/javascript" src="js/config/angular-locale_pt-br.js"></script>
	<script type="text/javascript">
		//criando modulo
		angular.module("lista",["ngMessages"]);

		//instanciando modulo & criando controller
		angular.module("lista").controller('listaTelefonicaController', function($scope,$http){
			$scope.app = "Lista Telefonica"

			$scope.contatos = []
				

			$scope.operadoras = [
				{ nome: "Oi", codigo: "15", categoria: "Celular", preco: 2},
				{ nome: "Tim", codigo: "21", categoria: "Celular", preco: 3},
				{ nome: "Claro", codigo: "32", categoria: "Celular", preco: 5},
				{ nome: "GMT", codigo: "34", categoria: "Fixo", preco: 1},
				{ nome: "Embratel", codigo: "51", categoria: "Fixo", preco: 6}
			]

			var carregarContatos = function(){
				$http.get("http://127.0.0.1:3000/contatos.json").then(function(data) {
    				if(data.status == 200){
						$scope.contatos = data.data
						console.log($scope.contatos)
					}
 				 })
				
			}

			$scope.adicionaContato = function(contato){
				$scope.contatos.push(angular.copy(contato));

				delete $scope.contato
				$scope.form.$setPristine()
			}

			$scope.apagarContatos = function(contatos){
				$scope.contatos = contatos.filter(function(contato){
					if(!contato.selecionado) return contato
				});
			}

			$scope.isContatoSelecionado = function(contatos){
				return contatos.some(function(contato){
					return contato.selecionado;
				});
			}

			$scope.ordenarPor = function(valor){
				$scope.ordemBusca = valor;
			}
				
			carregarContatos();

		});
	</script>
	<style type="text/css">
		.jumbotron{
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			margin-top: 20px;
		}

		.selecionado{
			background-color: yellow;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<div class="container" ng-controller="listaTelefonicaController">
		<div class="jumbotron">
			<h4>{{app}}</h4>
			<input type="text" class="form-control" ng-model="criterioBusca" placeholder="O que você esta procurando?" name="busca">
			<table class="table table-stripped">
				<tr>
					<th style="text-align:center;">Selecionar</th>
					<th style="text-align:center;"><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th style="text-align:center;"><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
					<th style="text-align:center;">Operadora</th>
					<th style="text-align:center;">Data</th>
				</tr>
				<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioBusca | orderBy:ordemBusca">
					<td><input type="checkbox" ng-model="contato.selecionado" name="selecionado"></td>
					<td>{{contato.nome | uppercase}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome | lowercase}}</td>
					<td>{{contato.date | date:'dd/MM/yyyy'}}</td>	
				</tr>
			</table>
			<hr>
			<form name="form">
				<div class="form-group">
					<input type="text" ng-model="contato.nome" ng-minlength="5" required name="nome" class="form-control" placeholder="Nome">
				</div>
				<div class="form-group">	
					<input type="text" ng-model="contato.telefone" ng-pattern="/^\d{4,5}-\d{4}$/" required name=telefone class="form-control" placeholder="Telefone">
				</div>
				<div class="form-group">
					<select class="form-control" required ng-model="contato.operadora" ng-options="operadora.nome + '(' + (operadora.preco | currency) + ')' for operadora in operadoras">
						<option value="">Selecione operadora</option>
					</select>
				</div>

				<div class="alert alert-danger" ng-show="form.nome.$error.required && form.nome.$dirty">
					Por favor preencha o campo nome
				</div>

				<div class="alert alert-danger" ng-show="form.nome.$error.minlength">
					Campo nome precisa de pelo menos 5 digitos
				</div>

				<div class="alert alert-danger" ng-show="form.telefone.$error.required && form.telefone.$dirty">
					Por favor preencha o campo telefone
				</div>

				<div class="alert alert-danger" ng-show="form.telefone.$error.pattern && form.telefone.$dirty">
					O formato do telefone deve ser DDDDD-DDDD
				</div>
				<button ng-click="adicionaContato(contato)" ng-disabled="form.$invalid" class="btn btn-primary btn-block">Adicionar Contato</button>
				<button ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)" class="btn btn-danger btn-block">Apagar Contato</button>
			</form>
		</div>

	</div>
</body>
</html>