<div class="container">
		<div class="jumbotron">
			
			<!--ui-accordions>
				<ui-accordion title="Teste Um">
					asdasdasdsadasdasdsadaasdasdjsajdlkasjdkljsa
					ldjsklajdlksajdklsjaldkjsakldjsalkdjsklajdklsajdklsjakldjsakldjsklajdlsajdkljsakldjlskajdlksajdklas
					jkdljaskldjaslkdjlksajdlksajdklsajdklsjakld
					jsakldjkslajdklsajkdlsjalkdjsakldjsklajdklas
					jdlsajslkajdlskajlskadjlksajdklsajdklsajkdj
					sakdjasldjlasjdkljaslkdjsakjdklsajdklasjdlkasj
				</ui-accordion>

				<ui-accordion title="Teste Dois">
					asdasdasdsadasdasdsadaasdasdjsajdlkasjdkljsa
					ldjsklajdlksajdklsjaldkjsakldjsalkdjsklajdklsajdklsjakldjsakldjsklajdlsajdkljsakldjlskajdlksajdklas
					jkdljaskldjaslkdjlksajdlksajdklsajdklsjakld
					jsakldjkslajdklsajkdlsjalkdjsakldjsklajdklas
					jdlsajslkajdlskajlskadjlksajdklsajdklsajkdj
					sakdjasldjlasjdkljaslkdjsakjdklsajdklasjdlkasj
				</ui-accordion>
			</ui-accordions-->

			<h4>{{app}}</h4>
			
			<ui-alert ng-show="{{messageError}}" title="Opa! aconteceu alguma coisa">
				{{messageError}}
			</ui-alert>
			
			<input type="text" class="form-control" ng-model="criterioBusca" placeholder="O que você esta procurando?" name="busca">
			<table class="table table-stripped">
				<tr>
					<th style="text-align:center;">Selecionar</th>
					<th style="text-align:center;"><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th style="text-align:center;"><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
					<th style="text-align:center;">Operadora</th>
					<th style="text-align:center;">Data</th>
				</tr>
				<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioBusca | orderBy:ordemBusca">
					<td><input type="checkbox" ng-model="contato.selecionado" name="selecionado"></td>
					<td><a href="/index.html#/detalheContato/"+contato.id>{{contato.nome | uppercase}}</a></td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome | lowercase}}</td>
					<td>{{contato.date | date:'dd/MM/yyyy'}}</td>	
				</tr>
			</table>
			<hr>
			<a href="#!/novoContato" class="btn btn-primary btn-block">Novo Contato</a>
		</div>

	</div>